a{
    text-decoration: none;
    color: black;
}

html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    width: 100%;
    
}

@media screen and (min-width: 501px) {
    
#container{
    width: 100%;
    display: grid;
    grid-template-areas:
    'hd'
    'mn'
    'ft' ;
    grid-template-rows:auto auto 30vh ;

}

.header{
    grid-area: hd;
    width: 100%;
    background-color: rgb(226, 172, 183);
    
}

.navdesktop{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menuitem{
    font-size: 20px;
    color: ghostwhite;
}

.logo{
    height: 20vh;
}

.footer{
    grid-area: ft;
    background-color: darkgrey;
}


#main1{
    grid-area: mn;
    grid-template-areas: 
    'pic'
    'vel'
    'omd'
    'inf';
    grid-template-rows: 50vh 60vh auto 40vh;  
    display: grid;

}

#mainbild{
    grid-area: pic;
    background-image: url(../img/isabella-and-zsa-fischer-nBcOnMoP18g-unsplash.jpg) ;
    background-size: cover;
    background-position-y: -500px;
    display: grid;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.boka{
background-color: rgb(105, 99, 97);
padding: 10px;
border-radius: 5px;
height: 10%;
width: 11%;
margin-bottom: 5px;
text-align: center;
color: aliceblue;
align-items: center;
display: flex;
justify-content: center;

}

#velkomsinfo{
    grid-area: vel;
    grid-template-areas: 
    'tex aspic1';
    grid-template-columns: 1fr 1fr;
    background-color: rgb(214, 213, 213);
    display: grid;

}

#information{
    grid-area: tex;
    align-items: center;
    display: flex;
    margin: 40px;


}

#velkomrub{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#loggabild{
    grid-area: aspic1;
    align-items: center;
    justify-content: center;
    display: flex;

}

#logotyp1{
height: 300px;
}

#omdome{
    grid-area: omd;
    grid-template-areas: 
    'omtx omtx'
    'omp1 omp2'
    'omp3 omp4';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vw 15vw 15vw;
    display: grid;
    

}

#txtomdome{
    grid-area: omtx;
    background-color: rgb(45, 99, 99);
}

#omp1{
    grid-area: omp1;
    background-color: aquamarine;
}

#omp2{
    grid-area: omp2;
    background-color: black;

}

#omp3{
    grid-area: omp3;
    background-color: chartreuse;
}

#omp4{
    grid-area: omp4;
    background-color: cornflowerblue;

}

#information2{
    grid-area: inf;
    grid-template-areas: 
    'tel opt loc';
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

#opt{
    grid-area: opt;
    background-color: hotpink;

}

#optpic{
    height: 200px;
}

#tele{
    grid-area: tel;
}

#telpic{
    height: 200px;
}

#location{
    grid-area: loc;
}

#locpic{
    height: 200px;
}

#container2{
    grid-template-areas: 
    'hd'
    'mn2'
    'ft';
    grid-template-rows:auto auto 30vh ;  
    display: grid;
}

#main2{
    grid-area: mn2;
    grid-template-areas: 
    'mnpic2'
    'klick'
    'service';
    grid-template-rows: 50vh auto auto;
    display: grid;

}

#klickservice{
    grid-area: klick;
    grid-template-areas:
    'ek lak'
    'nk lk'
    'tatk stk';
    grid-template-rows: 15vh 15vh 15vh;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap:10px;
    padding: 10px;
    
}

.klicktext{
    justify-content: center;
    align-items: center;
    display: flex;    

}

.klickstor{
    font-size: 6vh;

}

#ek{
    grid-area: ek;
    background-color: rgb(201, 199, 199);
}

#lak{
    grid-area: lak;
    background-color: rgb(201, 199, 199);

}

#nk{
    grid-area: nk;
    background-color: rgb(201, 199, 199);

}

#lk{
    grid-area: lk;
    background-color: rgb(201, 199, 199);

}

#tatk{
    grid-area: tatk;
    background-color: rgb(201, 199, 199);

}

#stk{
    grid-area: stk ;
    background-color: rgb(201, 199, 199);

}

#servicebild{
    grid-area: mnpic2;
    background-image: url(../img/no-revisions-d2zvqp3fpro-unsplash.jpg);
    background-size: contain;
    background-size:cover;
    justify-content: center;
    align-items: flex-end;
    display: flex; 
}

.boka2{
    background-color: rgb(105, 99, 97);
    padding: 10px;
    border-radius: 5px;
    height: 10%;
    width: 11%;
    margin-bottom: 5px;
    text-align: center;
    color: aliceblue;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: static;

}
.bokabox{
    position: absolute;
    right: 10px;
    width: fit-content;
}

#service{
    grid-area: service;
    grid-template-areas:
    'brn'
    'fr'
    'li'
    'nl'
    'tt'
    'stu';
    grid-template-areas: auto auto auto auto auto auto;
    grid-gap: 15px;
    display: grid;

}

.rub2{
    grid-area: ru;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
#eyebrow{
    grid-area: brn;
    grid-template-areas: 
    'ru ru'
    'brn1 brn2'
    'brn3 brn4'
    'brn5 brn6'
    'brn7 non';
    grid-template-columns: 50% 1fr;
    grid-template-rows: 20vh 15vh 15vh 15vh 15vh;
    display: grid;

}

#Hennabryn{
    grid-area: brn1;
    position: relative;
    left: 0;

}
#Plock-färgningavbryn{
    grid-area: brn2;

}
#Browlamination-browLift{
    grid-area: brn3;
    position: relative;
    left: 0;

}
#Microbladingtouchup{
    grid-area: brn4;

}
#Microblading-påfyllning{
    grid-area: brn5;
    position: relative;
    left: 0;

}
#Formabryn{
    grid-area: brn6;

}
#Microblading3dögonbryn{
    grid-area: brn7;
    position: relative;
    left: 0;

}

#nonbox{
    grid-area: non;
}

#fransforlengning{
    grid-area: fr ;
    grid-template-areas:
    'ru ru'
    'fr1 fr2' 
    'fr3 fr4'
    'fr5 fr6'
    'fr7 fr8'
    'fr9 fr10'
    'fr11 fr12'
    'fr13 fr14';
    grid-template-columns: 50% 1fr;
    grid-template-rows: 20vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
    display: grid;

}

Effektfransar-nyttset{
    grid-area: fr1;
    position: relative;
    left: 0;
}
Effektfransar-påfyllning{
    grid-area: fr2;
    position: relative;
    right: 0;

}
Quickfix-effektfransar{
    grid-area: fr3;
    position: relative;
    left: 0;

}
Quickfix-megavolym{
    grid-area: fr4;
    position: relative;
    right: 0;

}
Megavolym-nyttset{
    grid-area: fr5;
    position: relative;
    left: 0;

}
Megavolym-påfyllning{
    grid-area: fr6;
    position: relative;
    right: 0;

}
Volymfransar-Nyttset{
    grid-area: fr7;
    position: relative;
    left: 0;

}
Volymfransar-Påfyllning{
    grid-area: fr8;
    position: relative;
    right: 0;

}
Mix-Nyttset{
    grid-area: fr9;
    position: relative;
    left: 0;

}
Mixfransar-Påfyllning{
    grid-area: fr10;
    position: relative;
    right: 0;

}
Singelfransar-Nyttset{
    grid-area: fr11;
    position: relative;
    left: 0;

}
Singelfransar-Påfyllning{
    grid-area: fr12;
    position: relative;
    right: 0;

}
Quickfix{
    grid-area: fr13;
    position: relative;
    left: 0;

}
Borttagningavfransar{
    grid-area: fr14;
    position: relative;
    right: 0;

}



#lashlift{
    grid-area: li ;
    grid-template-areas: 
    'ru ru'
    'li1 li2';
    grid-template-columns: 50% 1fr;
    grid-template-rows: 20vh 15vh ;
    display: grid;

}

#Lashliftinkfärgningochkeratin{
    grid-area: li1;
    position: relative;
    left: 0;

}
#Lashlift-Browlift{
    grid-area: li2;
    position: relative;
    right: 0;

}

#nails{
    grid-area: nl ;
    grid-template-areas: 
    'ru ru'
    'nl1 nl2'
    'nl3 nl4'
    'nl5 nl6'
    'nl7 non ';
    grid-template-columns: 50% 1fr;
    grid-template-rows: 20vh 15vh 15vh 15vh 15vh;
    display: grid;


}

#Återbesökextremdesign{
    grid-area: nl1;
    position: relative;
    left: 0;

}
#Nagelförlängning-Extremdesign{
    grid-area: nl2;
    position: relative;
    right: 0;

}
#Borttagningavmaterial{
    grid-area: nl3;
    position: relative;
    left: 0;

}
#FörstärkningmedGellack-Design-franska{
    grid-area: nl4;
    position: relative;
    right: 0;

}
#FörstärkningmedGellack-Enkeldesign{
    grid-area: nl5;
    position: relative;
    left: 0;

}
#Lagning-av-1-3-naglar{
    grid-area: nl6;
    position: relative;
    right: 0;

}
#Manikyr{
    grid-area: nl7;
    position: relative;
    left: 0;

}


#tattoo{
    grid-area: tt ;
    grid-template-areas: 
    'ru ru'
    'tt1 tt2';
    grid-template-columns: 50% 1fr;
    grid-template-rows: 20vh 15vh ;
    display: grid;

}

#Tatueringmellan{
    grid-area: tt1;
    position: relative;
    left: 0;

}
#Tatueringstor{
    grid-area: tt2;
    position: relative;
    right: 0;

}

#student{
    grid-area: stu;
    grid-template-areas: 
    'ru ru'
    'stu1 stu2';
    grid-template-columns: 50% 1fr;
    grid-template-rows: 20vh 15vh;
    display: grid;
}

#Nysetvolym,singel,mix{
    grid-area: stu1;
    position: relative;
    left: 0;

}
#Påfyllningvolym,singelellermix{
    grid-area: stu2;
    position: relative;
    right: 0;

}


#container3{
    grid-template-areas: 
    'hd'
    'mn3'
    'ft';
    grid-template-rows:auto auto 30vh ;   
    display: grid;
    grid-gap: 10px;

}

#main3{
    grid-area: mn3;
    grid-template-areas: 
    'insta'
    'pics';
    grid-template-rows: 50vh auto;
    grid-gap: 10px;
    display: grid;

}

#follow{
    grid-area: insta;
    justify-content: center;
    display: flex;   
    align-items: center; 
    background-image: url(../img/bady-abbas-uZoR8U2hyiw-unsplash.jpg);
    background-size: contain;
    background-size:cover;
    
}

#followinstapic{
    justify-content: center;
    display: flex;
}

#instagramlook{
    height: 100px;
}

#picsec{
    grid-area: pics;
    grid-template-areas: 
    'pic1 pic2 pic3' 
    'pic4 pic5 pic6'
    'pic7 pic8 pic9 '
    'pic10 pic11 pic12';
    grid-template-rows: 30vh 30vh 30vh 30vh;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 10px;
}

#pic1{
    grid-area: pic1;
    background-image: url(../img/frans1.jpg);
    background-size: contain;
    background-size:cover;
}

#pic2{
    grid-area: pic2;
    background-image: url(../img/botox2);
    background-size: contain;
    


    
}
#pic3{
    grid-area: pic3;
    background-image: url(../img/frans1.jpg);
    background-size: contain;
    background-size:cover;
    
}
#pic4{
    grid-area: pic4;
    background-image: url(../img/frans3.jpg);
    background-size: contain;
    
    
}
#pic5{
   
    grid-area: pic5;
     background-image: url(../img/frans2.jpg);
     background-size: contain;
    
}
#pic6{
    grid-area: pic6;
    background-image: url(../img/tattoo1.jpg);
    background-size: contain;
   
   
}
#pic7{  
    grid-area: pic7;
  background-image: url(../img/salong.jpg);
  background-size: contain;
   
}
#pic8{
    grid-area: pic8;
    background-image: url(../img/tattoo1.jpg);
    background-size: contain;
   
   
}
#pic9{
    grid-area: pic9;
    background-image: url(../img/frans2.jpg);
    background-size: contain;
    
}
#pic10{
    grid-area: pic10;
    background-image: url(../img/nails.jpg);
    background-size: contain;
    background-size:cover;
    
}
#pic11{
    grid-area: pic11;
    background-image: url(../img/läppar1.jpg);
    background-size: contain;
   
}
#pic12{
    grid-area: pic12;
    background-image: url(../img/flaskameguld.jpg);
    
    
    
}

#container4{
    display: grid;
    grid-template-areas: 
    'hd'
    'mn4'
    'ft';
    grid-template-rows: auto auto 30vh ;
    
}

#main4{
    grid-area: mn4; 
    grid-template-areas: 
    'teampic'
    'teaminfo'
    'velcom4';   
    grid-template-rows: 50vh auto 17vh;
    display: grid;
    }
    
    #teampicup{
        grid-area: teampic;
        background-image: url(../img/no-revisions-RcH7lK7D7tA-unsplash.jpg);
        background-size: contain;
        background-size:cover;
        justify-content: center;
        align-items: flex-end;
        display: flex;
        
    
    }
    
 
  #teaminfo{
        grid-area: teaminfo;
        grid-template-areas: 
        'tmp1 tminf1'
        'tmp2 tminf2'
        'tmp3 tminf3'
        'tmp4 tminf4'
        'tmp5 tminf5';
        grid-template-rows: 25vh 25vh 25vh 25vh 25vh;
        grid-template-columns: 20vw 1fr;
        display: grid;
    
    }
    
    #team1{
        grid-area: tmp1;
    
    }
    
    #teampic1{
        grid-area: tminf1;
    
    }
    #team2{
        grid-area: tmp2;
    
    }
    
    #teampic2{
        grid-area: tminf2;
    
    }

    #team3{
        grid-area: tmp3;
    
    }
    
    #teampic3{
        grid-area: tminf3;
    
    }
    #team4{
        grid-area: tmp4;
    
    }

    #teampic4{
        grid-area: tminf4;
    }
   
    #teampic5{
        grid-area: tminf5;
    
    }
    #team5{
        grid-area: tmp5;
    
    }
    
    #velkometeam{
        grid-area: velcom4;
    }






}

